.container-1 {
  width: 300px;
  height: 100px;
  background-color: red;
  color: white;
  text-align: center;
  grid-area: 1 / 1 /span 3 / span 3 ;
  order: 1;
}

.container-2 {
  width: 100px;
  height: 100px;
  background-color: blue;
  color: white;
  text-align: center;
  order: 3;
}

.container-3 {
  width: 100px;
  height: 100px;
  background-color: lightgreen;
  color: white;
  text-align: center;
  order: 4;
}

.container-4 {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  text-align: center;
  order: 5;
}

.container-5 {
  width: 100px;
  height: 100px;
  background-color: orange;
  color: white;
  text-align: center;
  order: 6;
}

.container-6 {
  width: 100px;
  height: 100px;
  background-color: brown;
  color: white;
  text-align: center;
  order: 7;
}

.container-7 {
  width: 300px;
  height: 100px;
  background-color: green;
  color: white;
  text-align: center;
  grid-area: 6 / 1 / span 2 / span 3 ;
  order: 3;
  height: 8;

}

.container-8 {
  width: 100px;
  height: 100px;
  background-color: aqua;
  color: white;
  text-align: center;
  order: 8;
}

.container-9 {
  width: 300px;
  height: 100px;
  background-color: aquamarine;
  color: white;
  text-align: center;
  grid-area: 4 / 1 / span 2 / span 3 ;
  order: 2;
 

}
.parent{
  display: grid;
  grid-template-columns: repeat(3,100px);
}
/*
.parent { /*

display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "."
    "."
    "."
    "."
    "."
    "."
    "."
    "."
    "."; 
    justify-items: center;




  display: grid;
  grid-template-columns: auto auto auto;
 margin-left:100em   ;
  padding-right: 200em;

} 

.parent > div{
  
  width: 400px;
  height: 400px;
  font-size:200px;
  padding: 12px;

} 
*/
h1{
  font-size: 80px;
  text-align: center;
  padding-right: 14em ;
}